
h3 {
  color: brown;
  margin-top: -7px; 
}

h5 {
  font-size: 20px;
}

.char-image {
  border: 2px solid black;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 2px 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

#header {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
  margin-bottom: 5px;
}

#footer {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
  margin-bottom: 5px;
}

#instructions {
  background-color: lightgrey;
  text-align: center;
  font-size: 24px;
  padding-top: 0px;
  margin-top: 0px;
  border-top: 2px solid brown;
  border-bottom: 1px solid brown;
}

#scoreboard {
  background-color: lightgrey;
  text-align: center;
  font-size: 24px;
  padding-top: 0px;
  margin-top: 0px;
  border-top: 1px solid brown;
  border-bottom: 2px solid brown;
}

#game {
  background-color: white;
  text-align: center;
}

#messagebox {
  padding-top: 15px;
  text-align: left;
  font-size: 24px;
  font-weight: 500;
}

#clickbox {
  padding-top: 15px;
  text-align: center;
  border-right: 3px solid brown;
}

#directions {
  padding-top: 14px;
  padding-right: 40px;
  font-size: 18px;
  font-weight: 600;
}

#click {
  background-color: lightgrey;
  font-size: 24px;
  color: green;
  font-weight: 700;
  letter-spacing: 5px;
}

#score {
  background-color: lightgrey;
  font-size: 24px;
  color: blue;
  font-weight: 700;
  letter-spacing: 5px;
}

#titlebox {
  border-right: 3px solid brown;
  padding-top: 15px;
  vertical-align: center;
}

#scoretitlebox {
  border-right: 3px solid brown;
  padding-top: 22px;
  vertical-align: center;
}

#fury {
  height: 100px;
  float: left;
  margin-top: -10px;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
